<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Define materials first -->
    <material name="blue">
        <color rgba="0 0 1 1"/>
    </material>
    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>
    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>
    <material name="gray">
        <color rgba="0.33 0.33 0.33 1"/>
    </material>

    <!-- Base macro definition -->
    <xacro:macro name="base" params="namespace x y z">
        <!-- Odom Link -->
        <link name="${namespace}/odom"/>

        <!-- Base Link -->
        <link name="${namespace}/base_link">
            <visual>
                <geometry>
                    <box size="0.4 0.3 0.1"/>
                </geometry>
                <material name="blue"/>
            </visual>
            <collision>
                <geometry>
                    <box size="0.4 0.3 0.1"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="2.0"/>
                <origin xyz="0 0 0"/>
                <inertia ixx="0.01" ixy="0.0" ixz="0.0" 
                         iyy="0.01" iyz="0.0" izz="0.02"/>
            </inertial>
        </link>

        <!-- Odom Joint -->
        <joint name="${namespace}/odom_joint" type="fixed">
            <parent link="${namespace}/odom"/>
            <child link="${namespace}/base_link"/>
            <origin xyz="${x} ${y} ${z}" rpy="0 0 0"/>
        </joint>

        
    </xacro:macro>
</robot>